<div class="container">
  <h2>
    <%= "#{@user.name}のお気に入り画像" %>
  </h2>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <div class="row row-eq-height">
    <% @favorite_pictures.each do |picture| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="picture-content panel-body">
          <div class="picture-image">
            <%= image_tag(picture.image, class: :upload_image) %>
          </div>
          <div class="picture-content">
            <%= picture.message %>
          </div>

        </div>
        <div class="picture-footer panel-footer clearfix">
          <div class="picture-info">
            <div class="picture-time"><%= picture.updated_at.in_time_zone('Tokyo') %></div>
          </div>
          <% if logged_in? %>
          <div class=" btn-content">
            <% unless picture.user_id == current_user.id %>
              <% favorite = @favorites.find_by(picture_id: picture.id) %>
              <% if favorite.present? %>
                <%= link_to 'お気に入り解除する',
                            user_favorite_path(id: favorite.id,
                                               user_id: current_user.id,
                                               picture_id: picture.id,
                                               back_path: request.path_info),
                            method: :delete,
                            class: 'btn btn-danger'
                %>
              <% else %>
                <%= link_to 'お気に入りする',
                            favorites_path(user_id: current_user.id,
                                           picture_id: picture.id),
                                           method: :post,
                                           class: 'btn btn-primary' %>
              <% end %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
