<div class="container">
  <h2>
    <%= "#{@user.name}の投稿画像" %>
  </h2>
  <% if notice %>
    <p class="alert alert-success" id="notice"><%= notice %></p>
  <% end %>

  <div class="row row-eq-height">
    <% @pictures.each do |picture| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="picture-content panel-body">
          <div class="picture-image">
            <%= image_tag(picture.image, class: :upload_image) %>
          </div>
          <div class="picture-content">
            <%= picture.message %>
          </div>

        </div>
        <div class="picture-footer panel-footer clearfix">
          <div class="picture-info">
            <span class="user-name"><%= picture.user.name %></span>
            <div class="picture-time"><%= picture.updated_at.in_time_zone('Tokyo') %></div>
          </div>
          <% if logged_in? %>
          <div class=" btn-content">
            <% favorite = @favorites.find_by(picture_id: picture.id) %>
            <% unless picture.user_id == current_user.id %>
              <% if favorite.present? %>
                <%= link_to 'お気に入り解除する',
                            user_favorite_path(id: favorite.id,
                                               user_id: current_user.id,
                                               picture_id: picture.id),
                            method: :delete,
                            class: 'btn btn-danger'
                %>
              <% else %>
                <%= link_to 'お気に入りする',
                            user_favorites_path(current_user,
                                                picture_id: picture.id),
                            method: :post,
                            class: 'btn btn-primary' %>
              <% end %>
            <% end %>

            <% if picture.user_id == current_user.id %>
            <span class="btn btn-info">
              <%= link_to "編集",
                          edit_user_picture_path(picture, user_id: picture.user_id),
                          data: {confirm: "本当に編集していいですか？"} %>
            </span>
            <span class="btn btn-danger">
              <%= link_to "削除",
                          user_picture_path(picture,
                                            user_id: picture.user_id),
                                            method: :delete,
                                            data: {confirm: "本当に削除してもいいですか？"} %>
            </span>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
